@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --BlueLightColor: #E1E7FF;
}

body {
  font-family: "Manrope", sans-serif;
  background: #fff;
  color: black;
}

.default-bg {
  background: #22C1C3;
  background: linear-gradient(80deg, #4F39F6 0%, #9514FA 100%);
}